---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import avatar from "@/assets/avatar-michelle.jpg";
import share from "@/assets/icon-share.svg";
import twitter from "@/assets/icon-twitter.svg";
import facebook from "@/assets/icon-facebook.svg";
import pinterest from "@/assets/icon-pinterest.svg";
---

<MainLayout title="Frontend Mentor | Article Preview Component">
  <div
    class="flex h-[520px] w-[340px] flex-col rounded-xl bg-white md:h-[280px] md:w-[720px] md:flex-row"
  >
    <div
      class="h-[520px] w-[340px] rounded-t-xl bg-[url('/src/assets/drawers.jpg')] bg-cover md:h-[280px] md:w-[840px] md:rounded-l-xl md:bg-left"
    >
    </div>
    <div class="px-10 py-8">
      <h1
        class="text-[1.3rem] font-medium leading-snug text-sad-very-dark-grayish-blue"
      >
        Shift the overall look and feel by adding these wonderful touches to
        furniture in your home
      </h1>
      <p class="mt-3 text-sad-desaturated-dark-blue">
        Ever been in a room and felt like something was missing? Perhhaps it
        felt slightly bare and uninviting. I've got some simple tips to help you
        make any room feel complete.
      </p>
      <div class="mt-5 flex items-center gap-3">
        <div class="flex-none">
          <Image
            src={avatar}
            alt="Michelle Appleton"
            loading="eager"
            class="rounded-full"
            width="40"
          />
        </div>
        <div class="flex-initial">
          <p class="font-bold text-sad-very-dark-grayish-blue">
            Michelle Appleton
          </p>
          <p class="text-sad-grayish-blue">28 Jun 2020</p>
        </div>
        <div class="relative flex flex-1 justify-end">
          <div class="rounded-full bg-sad-light-grayish-blue p-2">
            <Image
              src={share}
              alt="Share with social sites"
              loading="eager"
              id="social"
            />
            <div
              class="absolute bottom-14 left-7 hidden h-14 w-[244px] items-center gap-4 rounded-xl bg-sad-very-dark-grayish-blue px-9"
              id="popup"
            >
              <p class="uppercase tracking-[.45em] text-sad-grayish-blue">
                Share
              </p>
              <a
                href="https://facebook.com"
                target="_blank"
                referrerpolicy="no-referrer"
              >
                <Image src={facebook} alt="Facebook" loading={"lazy"} />
              </a>
              <a
                href="https://x.com"
                target="_blank"
                referrerpolicy="no-referrer"
              >
                <Image src={twitter} alt="Twitter" loading={"lazy"} />
              </a>
              <a
                href="https://pinterest.com"
                target="_blank"
                referrerpolicy="no-referrer"
              >
                <Image src={pinterest} alt="Pinterest" loading={"lazy"} />
              </a>
              <div
                class="absolute bottom-0 left-1/2 h-0 w-0 -translate-x-1/2 translate-y-full transform border-l-[10px] border-r-[10px] border-t-[10px] border-l-transparent border-r-transparent border-t-sad-very-dark-grayish-blue"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>

<script>
  const social = document.getElementById("social") as HTMLImageElement;
  social?.addEventListener("click", () => {
    const popup = document.getElementById("popup") as HTMLDivElement;
    popup?.classList.toggle("hidden");
    popup?.classList.toggle("flex");
  });
</script>
