---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import avatar from "@/assets/avatar-michelle.jpg";
import share from "@/assets/icon-share.svg";
import twitter from "@/assets/icon-twitter.svg";
import facebook from "@/assets/icon-facebook.svg";
import pinterest from "@/assets/icon-pinterest.svg";
---

<MainLayout
  title="Frontend Mentor | Article Preview Component"
  description="A article preview component challenge from Frontend Mentor."
>
  <main class="flex min-h-screen items-center justify-center">
    <div
      class="relative flex h-126.25 w-82.5 flex-col rounded-xl bg-white shadow-xs md:h-70 md:w-180 md:flex-row"
    >
      <div
        class="h-126.25 w-82.5 rounded-t-xl bg-[url('/src/assets/drawers.jpg')] bg-cover bg-left md:h-70 md:w-210 md:rounded-l-xl md:rounded-r-none"
      >
      </div>
      <article class="px-8 py-8 pb-2 md:px-10">
        <h1
          class="text-[1rem] leading-snug font-bold text-theme-very-dark-grayish-blue md:text-[1.25rem]"
        >
          Shift the overall look and feel by adding these wonderful touches to furniture in your
          home
        </h1>
        <p class="mt-3 text-[13.5px] text-theme-desaturated-dark-blue md:text-[13px]">
          Ever been in a room and felt like something was missing? Perhhaps it felt slightly bare
          and uninviting. I've got some simple tips to help you make any room feel complete.
        </p>
        <div class="mt-6 flex h-16 items-center gap-3 md:mt-5 md:pb-6">
          <div class="flex-none">
            <Image
              src={avatar}
              alt="Michelle Appleton"
              loading="eager"
              class="rounded-full"
              width="40"
            />
          </div>
          <div class="flex-initial">
            <p class="font-bold text-theme-very-dark-grayish-blue">Michelle Appleton</p>
            <p class="text-theme-grayish-blue">28 Jun 2020</p>
          </div>
          <div class="flex flex-1 justify-end">
            <div class="z-10 rounded-full bg-theme-light-grayish-blue p-2">
              <Image src={share} alt="Share with social sites" loading="eager" id="social" />
            </div>
          </div>
        </div>
      </article>
      <div
        class="absolute bottom-0 hidden h-16 w-full items-center gap-4 rounded-b-xl bg-theme-very-dark-grayish-blue px-9 md:-right-16 md:bottom-24 md:h-14 md:w-61 md:rounded-xl"
        id="popup"
      >
        <p class="tracking-[.45em] text-theme-grayish-blue uppercase">Share</p>
        <a href="https://facebook.com" target="_blank" referrerpolicy="no-referrer">
          <Image src={facebook} alt="Facebook" loading={"lazy"} />
        </a>
        <a href="https://x.com" target="_blank" referrerpolicy="no-referrer">
          <Image src={twitter} alt="Twitter" loading={"lazy"} />
        </a>
        <a href="https://pinterest.com" target="_blank" referrerpolicy="no-referrer">
          <Image src={pinterest} alt="Pinterest" loading={"lazy"} />
        </a>
        <div
          class="absolute bottom-0 left-1/2 hidden h-0 w-0 -translate-x-1/2 translate-y-full transform border-t-10 border-r-10 border-l-10 border-t-theme-very-dark-grayish-blue border-r-transparent border-l-transparent md:block"
        >
        </div>
      </div>
    </div>
  </main>
</MainLayout>

<script>
  const social = document.getElementById("social") as HTMLImageElement;
  social?.addEventListener("click", () => {
    const popup = document.getElementById("popup") as HTMLDivElement;
    popup?.classList.toggle("hidden");
    popup?.classList.toggle("flex");
  });
</script>
